
div.example4{
    width: 100%;
    height: 400px;
    background-image: url('Kidney.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px solid red;
	clear: left;
	background-position: right;
}
.img5 {
    float: right;
}